
 <div class="toolbar">
    <h1>{{title}}</h1>
    <div class="calculator-grid">
          <div class="output">
            <div class="previous-operand">previousOperand</div>
            <div class="current-operand">currentOperand</div>
          </div>
          <button data-id= "ac" class="span-two">AC</button>
          <button data-id= "del"> DEL</button>
          <button data-id="÷">÷</button>
          <button data-id="1">1</button> 
          <button data-id="2">2</button> 
          <button data-id="3">3</button> 
          <button data-id="*">*</button>
          <button data-id="4" >4</button> 
          <button data-id="5">5</button> 
          <button data-id="6">6</button> 
          <button data-id="+">+</button>
          <button data-id="7">7</button> 
          <button data-id="8">8</button> 
          <button data-id="9">9</button> 
          <button data-id="-">-</button>
          <button data-id="." >.</button> 
          <button data-id="0">0</button> 
          <button data-id= "=" class="span-two" >=</button>
    </div>
    <p>By: {{author}}</p>
</div>
